*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F3F5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #6E7386;
    font-size: 24px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(255, 255, 255, 0.835);
}

hr{
    size: 2px;
    width: 100%;
    color: white
}

.header{
    font-size: 18px;
    font-weight: 500;
    background-color: #474D59;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px 0;
    z-index: 1;
    position: fixed;
    &__inner{
        display: flex;
        justify-content: space-between;
        
    }

    &__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            margin-right: 20px;
        }
    }
    &__account{
        display: flex;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 5px;
        width: 150px;
        p{
            padding: 0;
            margin: 0;
        }
    }

    .dropdown {
        position: relative;
        display: none;
    }
    .dropbtn {
        background-color: transparent;
        color: white;
        font-size: 18px;
        position: relative;
        display: flex;
        cursor: pointer;
        margin: 0;
        align-items: center;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        margin-top: 40px;
        margin-left: -5px;
        padding:0;
        width: 150px;
        li{
            list-style: none;
            padding: 10px 0 20px 0;
            
        }
    }

    .dropdown:checked~ul.dropdown-content {
        display: flex;
        flex-direction: column;
       text-align: center;
        background-color: #474D59;
        border-radius: 5px;
        z-index: 1;
    }
    
}

.main{  
    padding: 130px 0 15px 0;
    .pagination {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        .tableList {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0; 
            .objectBlock {
                position: relative;
                max-width: 342px;
                // width: 342px;
                min-width: 100px;
                height: auto;
                padding: 0;
                margin: 10px 0;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
    
    .outline-none{
        font-size: 18px;
    }
    .clickPageNumber {
        border: 1px solid gray;
        color: gray;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        // font-weight: 400;
    }
    .pagination-block {
        justify-content: center;
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        font-weight: 600;
        .pageButton {
            border: 1px solid gray;
            width: 60px;
            height: 30px;
            text-align: center;
            font-size: 18px;
        }
        .pageButton:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            color: #42B596;
        }
        .pageButton:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            color: #42B596;
        }
    }
    .pagination-block span {
        display: inline-block;
    }
    .pagination-block .pageButton {
        color: grey;
    }
    .pagination-block span:hover {
        cursor: pointer;    
        color: #42B596;
    }
    .opacity {
        opacity: 0;
        visibility: hidden;  
    }
    .outline-none {
        outline: none;
        user-select: none; 
    }

    .favoriteList{
        margin: 30px;
        display: block;
        justify-content: space-evenly;
        .fav-movie-block {
            display: flex;
            padding: 30px;
            img {
                border-radius: 20px;
                margin-right: 30px;
            }
            .details__new-favorite-info {
                display: flex;
                flex-direction: column;
                .remove-favorites {
                    font-size: 18px;
                    color: #6E7386;
                    border: 1px solid #6E7386;
                    font-weight: 600;
                    align-self: flex-end;
                }
            }
        }
    }
}

.movie-details-modal{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    padding-top: 79px;
    z-index: 0;
    .details-modal-inner{
        padding: 30px 20px;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &__back-to-list{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
            }
            &__next-movie{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
                img{transform: rotate(0.5turn);}
            }
        }
        .details{
            display: flex;
            justify-content: center;
            margin-top: 120px;
            &__poster{
                width: 342px;
                height: 440px;
            }
            &__movie-info{
                margin-left: 5%;
            }
            &__new-movie-info{
                display: flex;
                flex-direction: column;
                color: white;
                .add-to-favorites{
                    background-color: transparent;
                    color: #fff;
                    opacity: 80%;
                    align-self: flex-end;
                }
                .movie-title{
                    font-size: 36px;
                }
                .movie-ratings{
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    font-size: 24px;
                    margin: 20px 0;
                    justify-content: space-between;
                    span{
                        border-right: solid grey 2px;
                        padding:0 25px;
                    }
                }
                .movie-description{
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            &__new-favorite-info{
                display: flex;
                flex-direction: column;
                color: white;
                font-weight: 500;
            }
        }
    }
}

@media all and (min-device-width: 720px)
and (max-device-width: 1366px){
    .header{
        &__logo{
            width: 180px;
            font-size: 32px;
            img{
                height: 60px;
                width: auto;
            }
        }
        &__account{
            width: auto;
            padding: 0 20px 0 10px;
            p{font-size: 32px;}
            a{font-size: 32px;}
            img{
                height: 50px;
                width: auto;
                margin-right: 10px;}
        }
        .dropdown-content{
            width: 250px;
            margin-top: 60px;
            li{
                margin: 20px 0;
            }
        }
    }
    .main{
        font-size: 32px;
        .pagination{
            .tableList{
                justify-content: space-evenly;
            }
            .pagination-block{
                span{font-size: 32px;}
                .pageButton, .clickPageNumber{
                    height: 80px;
                    width: auto;
                    padding: 15px 20px 0;
                }
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .navigation {
                margin-top: 40px;
                &__back-to-list{
                    font-size: 24px;
                }
                &__next-movie{
                    font-size: 24px;
                }
            }
            .details__new-movie-info .add-to-favorites{
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
}

@media all and (min-device-width: 375px)
and (max-device-width: 720px){
    .header{
        &__account{
            width: auto;
            p{
                display: none;
            }
        }
        .dropdown-content{
            margin: 40px 0;
            left:0;
            width: 100%;
            li{
                list-style: none;
                padding: 10px 0 20px 0;
            }
        }
        .dropdown:checked~ul.dropdown-content {
            border-radius: 0;
        }
    }
    .main{
        padding-top: 50px;
        .pagination{
            .tableList{
                .objectBlock{
                    border-radius: 10px;
                }
            }
            #page_number{
                display: none;
            }
        }
        .pagination-block{
            margin-bottom: 50px;
            .pageButton{
                width: auto;
                height: auto;
                padding: 20px;
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .details {
                margin-top: 30px;
                .objectBlock {
                    width: 100%;
                }
            }

            .navigation {
                &__back-to-list {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
                &__next-movie {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
            }

            .details__new-movie-info {
                .add-to-favorites {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .movie-title{
                    position: absolute;
                    left: 30px;
                    margin-top: 230px;
                }
                .movie-ratings{
                    flex-direction: column;
                    font-size: 18px;
                    span{
                        border-right: 0;
                    }
                }
                .movie-description-box{
                    position: absolute;
                    left:30px;
                    margin-top: 270px;
                    width: 100%;
                    padding-right: 60px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media all and (min-device-width: 320px)
and (max-device-width: 375px){
    .header{
        &__account{
            width: auto;
            p{
                display: none;
            }
        }
        .dropdown-content{
            margin: 40px 0;
            left:0;
            width: 100%;
            li{
                list-style: none;
                padding: 10px 0 20px 0;
            }
        }
        .dropdown:checked~ul.dropdown-content {
            border-radius: 0;
        }
    }
    .main{
        h1{
            font-size: 18px;
            font-weight: 700;
        }
        p{
            font-size: 12px;
        }
        padding-top: 100px;
        .pagination{
            .tableList{
                .objectBlock{
                    border-radius: 10px;
                }
            }
            #page_number{
                display: none;
            }
        }
        .pagination-block{
            margin-bottom: 50px;
            .pageButton{
                width: auto;
                height: auto;
                padding: 10px;
            }
        }
        .favoriteList{
            margin: 0;
            .fav-movie-block {
                padding: 0;
                width: 100%;
                img {
                    border-radius: 0px;
                    height: 210px;
                    margin-right: 10px;
                }
                .details__new-favorite-info {
                    .remove-favorites {
                        font-size: 16px;
                        margin-bottom: 5px;
                        padding: 2px 5px;
                    }
                }
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .navigation {
                &__back-to-list {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    font-size: 16px;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
                &__next-movie {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    font-size: 16px;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
            }
            .details{
                margin-top: 20px;
                .objectBlock{
                    width: 100%;
                }
            }
            .details__new-movie-info {
                .add-to-favorites {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .movie-title{
                    position: absolute;
                    left: 30px;
                    margin-top: 200px;
                    font-size: 24px;
                }
                .movie-ratings{
                    flex-direction: column;
                    font-size: 16px;
                    span{
                        border-right: 0;
                        padding: 0;
                    }
                }
                .movie-description-box{
                    position: absolute;
                    left:30px;
                    margin-top: 230px;
                    width: 100%;
                    padding-right: 60px;
                    line-height: 20px;
                }
            }
        }
    }
}

