@mixin movie-title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 600;
}
@mixin movie-title-mini{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 500;
}
@mixin title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
@mixin title-mini{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
@mixin text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@mixin text-mini{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F3F5;
    /*font-family: 'Roboto', sans-serif;
    font-weight: 700;*/
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:hover{}
hr{
    size: 2px;
    width: 100%;
    color: white
}
.header{
    background-color: #474D59;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px 0;
    z-index: 1;
    position: fixed;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        @include title;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            margin-right: 20px;
        }
    }
    &__account{
        display: flex;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 5px;
        width: 150px;
        justify-content: space-evenly;
        p{
            @include text;
            padding: 0;
            margin: 0;
        }
        li{a{@include text; color: white}}
    }
    .dropdown {
        position: relative;
        display: none;
    }
    .dropbtn {
        @include text;
        background-color: transparent;
        color: white;
        position: relative;
        display: flex;
        cursor: pointer;
        margin: 0;
        align-items: center;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        margin-top: 40px;
        margin-left: -5px;
        padding:0;
        width: 150px;
        li{
            list-style: none;
            padding: 10px 0 20px 0;
        }
    }
    .dropdown:checked~ul.dropdown-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #474D59;
        border-radius: 5px;
        z-index: 1;
    }
}
.main{
    h4{@include title; color: #474D59;}
    padding: 130px 0 15px 0;
    .pagination {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        .tableList {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            padding: 0; 
            .objectBlock {
                position: relative;
                max-width: 220px;
                // width: 342px;
                min-width: 100px;
                height: auto;
                padding: 0;
                margin: 10px auto;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
    .outline-none{
        @include text;
    }
    .clickPageNumber {
        border: 1px solid gray;
        border-right: 0;
        color: gray;
        width: 30px;
        height: 30px;
        text-align: center;
        @include text;
    }
    .pagination-block {
        justify-content: center;
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        .pageButton {
            border: 1px solid gray;
            border-right: 0;
            width: 60px;
            height: 30px;
            text-align: center;
            @include text;
        }
        .pageButton:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            color: #42B596;
        }
        .pageButton:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            color: #42B596;
            border-right: 1px solid gray;
        }
    }
    .pagination-block span {
        display: inline-block;
    }
    .pagination-block .pageButton {
        color: #42B596
    }
    .opacity {
        opacity: 0;
        visibility: hidden;  
    }
    .outline-none {
        outline: none;
        user-select: none; 
    }
    .favoriteList{
        margin: 30px;
        display: block;
        justify-content: space-evenly;
        .fav-movie-block {
            display: flex;
            padding: 30px;
            img {
                border-radius: 20px;
                margin-right: 30px;
            }
            .details__new-favorite-info {
                display: flex;
                flex-direction: column;
                h1{@include movie-title; color: #474D59}
                p{@include title-mini; color: #6E7386}
                .remove-favorites {
                    @include text;
                    color: #6E7386;
                    border: 1px solid #6E7386;
                    align-self: flex-end;
                }
            }
        }
    }
}
.movie-details-modal{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    padding-top: 79px;
    z-index: 0;
    .details-modal-inner{
        padding: 30px 20px;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &__back-to-list{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                @include text;
                color: #fff;
                background-color: transparent;
            }
            &__next-movie{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                @include text;
                color: #fff;
                background-color: transparent;
                img{transform: rotate(0.5turn);}
            }
        }
        .details{
            display: flex;
            justify-content: space-evenly;
            margin-top: 120px;
            &__poster{
                width: 342px;
                height: 440px;
                img{
                    width: 100%;
                }
            }
            &__movie-info{
                margin-left: 5%;
            }
            &__new-movie-info{
                display: flex;
                flex-direction: column;
                color: white;
                .add-to-favorites{
                    background-color: transparent;
                    color: #fff;
                    opacity: 80%;
                    align-self: flex-end;
                }
                .movie-title{@include movie-title}
                .movie-ratings{
                    display: flex;
                    flex-direction: row;
                    @include text;
                    margin: 20px 0;
                    justify-content: space-between;
                    span{
                        border-right: solid grey 2px;
                        padding:0 25px;
                    }
                }
                .movie-description{
                    @include text;
                }
            }
            &__new-favorite-info{
                display: flex;
                flex-direction: column;
                color: white;
                .remove-favorites{
                    border: white solid 1px;
                    align-self: flex-end;
                    width: 100px;
                    background-color: transparent;
                    @include text;
                    color: white;
                }
            }
        }
    }
}

@media all and (min-device-width: 720px)
and (max-device-width: 1366px){
    .header{
        &__logo{
            width: 180px;
            justify-content: space-evenly;
            @include title;
            img{
                height: 60px;
                width: auto;
            }
        }
        &__account{
            width: auto;
            padding: 0 20px 0 10px;
            p{@include text}
            a{font-size: 32px;}
            img{
                height: 50px;
                width: auto;
                margin-left: 10px;
            }
        }
        .dropdown-content{
            width: 250px;
            margin-top: 60px;
            li{
                margin: 20px 0;
            }
        }
    }
    .main{
        h4{@include title}
        .pagination{
            .tableList{
                justify-content: space-evenly;
                .objectBlock{
                    max-width: 300px;
                }
            }
            .pagination-block{
                span{@include title; height: auto;}
                .pageButton, .clickPageNumber{
                    width: auto;
                    padding: 20px;
                }
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .navigation {
                margin-top: 40px;
                &__back-to-list{
                    @include text
                }
                &__next-movie{
                    @include text
                }
            }
            .details{
            }
            .details__new-movie-info .add-to-favorites{
                @include text;
                margin-bottom: 10px;
            }
        }
    }
}

@media all and (min-device-width: 375px)
and (max-device-width: 720px){
    .header{
        &__account{
            width: auto;
            p{
                display: none;
            }
        }
        .dropdown-content{
            margin: 40px 0;
            left:0;
            width: 100%;
            li{
                list-style: none;
                padding: 10px 0 20px 0;
            }
        }
        .dropdown:checked~ul.dropdown-content {
            border-radius: 0;
        }
    }
    .main{
        padding-top: 50px;
        .pagination{
            .tableList{
                .objectBlock{
                    border-radius: 10px;
                }
            }
            #page_number{
                display: none;
            }
        }
        .pagination-block{
            margin-bottom: 50px;
            .pageButton{
                width: auto;
                height: auto;
                padding: 20px;
            }
        }
        .favoriteList{
            .details__new-favorite-info{
                h1{@include movie-title-mini;color: #474D59}
                p{@include text-mini;color: #6E7386}
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .details {
                margin-top: 30px;
                .objectBlock {
                    width: 100%;
                }
            }
            .navigation {
                &__back-to-list {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
                &__next-movie {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
            }
            .details__new-movie-info {
                .add-to-favorites {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .movie-title{
                    position: absolute;
                    left: 30px;
                    margin-top: 230px;
                }
                .movie-ratings{
                    flex-direction: column;
                    font-size: 18px;
                    span{
                        border-right: 0;
                    }
                }
                .movie-description-box{
                    position: absolute;
                    left:30px;
                    margin-top: 270px;
                    width: 100%;
                    padding-right: 60px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media all and (min-device-width: 320px)
and (max-device-width: 375px){
    .header{
        &__account{
            width: auto;
            p{
                display: none;
            }
        }
        .dropdown-content{
            margin: 40px 0;
            left:0;
            width: 100%;
            li{
                list-style: none;
                padding: 10px 0 20px 0;
            }
        }
        .dropdown:checked~ul.dropdown-content {
            border-radius: 0;
        }
    }
    .main{
        padding-top: 100px;
        .pagination{
            .tableList{
                .objectBlock{
                    border-radius: 10px;
                }
            }
            #page_number{
                display: none;
            }
        }
        .pagination-block{
            margin-bottom: 50px;
            .pageButton{
                width: auto;
                height: auto;
                padding: 10px;
            }
        }
        .favoriteList{
            margin: 0;
            .fav-movie-block {
                padding: 10px 0;
                height: 350px;
                width: 100%;
                img {
                    border-radius: 5px;
                    height: 210px;
                    margin-right: 10px;
                }
                .details__new-favorite-info {
                    h1{@include movie-title-mini}
                    p{@include text-mini}
                    .remove-favorites {
                        @include title-mini;
                        margin-bottom: 5px;
                        padding: 2px 5px;
                    }
                }
            }
        }
    }
    .movie-details-modal {
        .details-modal-inner {
            .navigation {
                &__back-to-list {
                    @include title-mini;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
                &__next-movie {
                    @include title-mini;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 10px;
                    img{
                        width: 10px;
                    }
                }
            }
            .details{
                margin-top: 20px;
                .objectBlock{
                    width: 100%;
                }
            }
            .details__new-movie-info {
                .add-to-favorites {
                    @include text;
                    margin-bottom: 10px;
                }
                .movie-title{
                    position: absolute;
                    left: 30px;
                    margin-top: 200px;
                    @include movie-title-mini
                }
                .movie-ratings{
                    flex-direction: column;
                    @include text;
                    span{
                        border-right: 0;
                        padding: 0;
                    }
                }
                .movie-description-box{
                    position: absolute;
                    left:30px;
                    margin-top: 230px;
                    width: 100%;
                    padding-right: 60px;
                    line-height: 20px;
                    .movie-description{@include text-mini;}
                }
            }
        }
    }
}

