*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: gray;
    font-size: 24px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(255, 255, 255, 0.835);
}

.header{
    font-size: 18px;
    font-weight: 500;
    background-color: #474D59;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px 0;
    z-index: 1;
    &__inner{
        display: flex;
        justify-content: space-between;
        
    }

    &__logo{
        display: flex;
        justify-content: space-between;
        width: 100px;
        align-items: center;
    }
    &__account{
        display: flex;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 5px;
        width: 150px;
        p{
            padding: 0;
            margin: 0;
        }
    }

    .dropdown {
        position: relative;
        display: none;
    }
    .dropbtn {
        background-color: transparent;
        color: white;
        font-size: 18px;
        position: relative;
        display: flex;
        cursor: pointer;
        margin: 0;
        align-items: center;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        margin-top: 40px;
        margin-left: -5px;
        padding:0;
        width: 150px;
        li{
            list-style: none;
            padding: 10px 0 20px 0;
            
        }
    }

    .dropdown:checked~ul.dropdown-content {
        display: flex;
        flex-direction: column;
       text-align: center;
        background-color: #474D59;
        border-radius: 5px;
        z-index: 1;
    }
    
}

.main{  
    padding: 30px 0; 
    .pagination {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        .tableList {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0; 
            .objectBlock {
                position: relative;
                max-width: 342px;
                // width: 342px;
                min-width: 100px;
                height: auto;
                padding: 0;
                margin: 10px 0;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
    
    .outline-none{
        font-size: 18px;
    }
    .clickPageNumber {
        border: 1px solid gray;
        color: gray;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        // font-weight: 400;
    }
    .pagination-block {
        justify-content: center;
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        font-weight: 600;
        .pageButton {
            border: 1px solid gray;
            width: 60px;
            height: 30px;
            text-align: center;
            font-size: 18px;
        }
        .pageButton:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            color: #42B596;
        }
        .pageButton:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            color: #42B596;
        }
    }
    .pagination-block span {
        display: inline-block;
    }
    .pagination-block .pageButton {
        color: grey;
    }
    .pagination-block span:hover {
        cursor: pointer;    
        color: #42B596;
    }
    .opacity {
        opacity: 0;
        visibility: hidden;  
    }
    .outline-none {
        outline: none;
        user-select: none; 
    }   
}

@media all and (min-device-width: 320px)
and (max-device-width: 720px){
    .header{
        &__account{
            width: auto;
            p{
                display: none;
            }
        }
        .dropdown-content{
            margin: 40px 0;
            left:0;
            width: 100%;
            li{
                list-style: none;
                padding: 10px 0 20px 0;
            }
        }
        .dropdown:checked~ul.dropdown-content {
            border-radius: 0;
        }
    }
}


.movie-details-modal{
    background-color: #474D59;
    opacity: 90%;
    display: flex;
    top: 79px; 
    .details-modal-inner{
        padding: 30px 20px;
        .navigation{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &__back-to-list{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
            }
            &__next-movie{
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
                img{transform: rotate(0.5turn);}
            }   
        }
        .details{
            display: flex;
            justify-content: center;
            margin-top: 120px;
            &__poster{
                width: 342px;
                height: 440px;
                background-color: turquoise;
                border-radius: 20px;
            }
            &__movie-info{
                margin-left: 5%;
                display: flex;
                flex-direction: column;
                color: white;
                hr{
                    size: 2px   ;
                    width: 100%;
                    color: white
                }
                .add-to-favorites{
                    background-color: transparent;
                    color: #fff;
                    opacity: 80%;
                    align-self: flex-end;
                }
                .movie-title{
                    font-size: 36px;
                }
                .movie-ratings{
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    font-size: 24px;
                    margin: 20px 0;
                    justify-content: space-between;
                    span{
                        border-right: solid grey 2px;
                        padding-right: 25px;
                    }
                }
                .movie-description{
                    font-weight: 400;
                    font-size: 18px;
                }
            }
        }
    }  
}